{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user == null %}
        Connectez vous pour acceder a votre service.
    {% else %}
        bonjour {{ app.user }}
    {% endif %}
    {% if app.user == "fournisseur" or app.user == "achat" %}
        <a href="{{ path('product_index') }}">Afficher les produits</a>
    {% elseif app.user == "marketing" %}
        <a href="{{ path('box_new') }}">Creer une box</a>
    {% endif %}
{% endblock %}



